body {
    background-color: #FFF5EE;
}

P{margin: 25px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#header3 {
    color:black;
    text-align: center;
    padding:5px;
}

